@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: #212529;
}

body::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 0px;
}
